@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

:root {
  /* light, dark 모드 사용 선언 */
  color-scheme: light dark;
}

body {
  /* 지역변수 선언 */
  --light-color: var(--pastel-gray);
  --dark-color: var(--pastel-lemon);

  h1 {
    /* 속성을 줄 때, 자체적으로 light-dark({값} {값}) 만 넣으면 된다. */
    color: light-dark(var(--light-color) var(--dark-color));
  }
}

/* 미디어 쿼리란? 미디어의 특성을 가지고 미디어를 분개하는 것 */
/* light-mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--pastel-apricot);
    color: black;
  }
}

/* dark-mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: var(--pastel-apricot);
  }
}
