@import url(/src/common/mini-reset.css);

:root {
  --green: #11d975;
  --orange: #e3a368;
  --gray: #9b9a90;

  --text18: 1.125rem;
  --text14: 0.875rem;
  --text11: 0.6875rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

main {
  display: block;
}

/* 알림 */
.notification {
  padding: 1.25rem;
  margin-bottom: 1.25rem;

  border: 1px solid #f9fefe;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px rgba(114, 119, 124, 0.2);

  display: flex;
  align-items: center;
  gap: 1.25rem;

  position: relative;
}

.notification.plant {
  .notification__title {
    font-size: var(--text18);
    color: var(--green);
    font-weight: 600;

    margin-bottom: 0.25rem;
  }

  .notification__text {
    font-size: var(--text14);
    color: var(--gray);

    font-weight: 400;
  }

  .notification__time {
    font-size: var(--text11);
    color: var(--green);

    font-weight: 700;

    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
}

.notification.food {
  .notification__title {
    font-size: var(--text18);
    color: var(--orange);
    font-weight: 600;

    margin-bottom: 0.25rem;
  }

  .notification__text {
    font-size: var(--text14);
    color: var(--gray);

    font-weight: 400;
  }

  .notification__time {
    font-size: var(--text11);
    color: var(--orange);

    font-weight: 700;

    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
}
