@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/* color */
.container {
  /* 헤더 */
  .header {
    background: var(--pastel-coral);
  }

  /* 내비게이션 */
  .navigation {
    background: var(--pastel-green);
  }

  /* 메인 콘텐츠 */
  .content {
    background: var(--pastel-aqua);
  }

  /* 사이드 바 */
  .sidebar {
    background: var(--pastel-yellow);
  }

  /* 푸터 */
  .footer {
    background: var(--pastel-lavender);
  }
}

/* grid-layout */
.container {
  /* 내가 짠 코드 */
  /* min-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1'
    'item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2'
    'item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3'
    'item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4'
    'item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5';

  .header {
    grid-area: item1;
  }

  .navigation {
    grid-area: item2;
  }

  .content {
    grid-area: item3;
  }

  .sidebar {
    grid-area: item4;
  }

  .footer {
    grid-area: item5;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, min-max(4rem, 1fr));
    grid-template-areas:
      'item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1'
      'item2 item2 item2 item3 item3 item3 item3 item3 item3 item4 item4 item4'
      'item2 item2 item2 item3 item3 item3 item3 item3 item3 item4 item4 item4'
      'item2 item2 item2 item3 item3 item3 item3 item3 item3 item4 item4 item4'
      'item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5';

    .header {
      grid-area: item1;
    }

    .navigation {
      grid-area: item2;
    }

    .content {
      grid-area: item3;
    }

    .sidebar {
      grid-area: item4;
    }

    .footer {
      grid-area: item5;
    }
  } */

  /* 강사님이 짜주신 것 */
  display: grid;
  padding: 0 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
    max-inline-size: 800px;
    margin: 0 auto;

    .header,
    .navigation,
    .footer {
      grid-column: 1 / -1;
    }

    .content, .sidebar {
      /* start 번호를 명시하지 않으면, 순서대로 6개를 확장 > 그 다음부터 6개 확장 하는 식으로 진행된다. */
      grid-column: span 6;
    }
  }

  @media (min-width: 1024px) {
    max-inline-size: 1280px;

    .navigation, .sidebar {
      /* .content 는 span 6 으로 유지하면서, 나머지 .navigation 과 .sidebar 의 span 을 3 으로 조절하여 한 줄로 만들었다. */
      grid-column: span 3;
    }
  }
