body {
  margin: 0;
  background-color: white;
}

header {
  width: 100%;
  margin: 50px auto;
}

header > h1 {
  text-align: center;
  font-size: 3em;
}

div {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 50px 0 0 10px;
}

nav > ul {
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  /* padding: 1vh 2vw; */
  position: relative;
}

nav > ul > li {
  list-style: none;
  width: 10rem;
  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

.navName > li:first-child {
  color: blue;
  font-weight: bold;
}

.classChange {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav > ul {
    padding: 0 0;
    margin: 0 0 10px;
  }

  main {
    max-width: 768px;
    padding: 0 15px;
  }
}
