body {
  margin: 0;
  background-color: white;
}

header {
  width: 100%;
  margin: 100px auto;
}

header > h1 {
  text-align: center;
  font-size: 3em;
}

ul {
  padding: 1vh 2vw;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-bottom: 50px;
}

nav > ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li:first-child,
li:nth-child(4),
li:nth-child(8) {
  color: blue;
  font-weight: bold;
}

nav > ul > li::after {
  content: ' ã…£';
  padding-right: 9px;
  color: #ccc;
}

nav > ul > li:last-child::after {
  content: '';
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav > ul {
    padding: 0 0;
    margin: 0 0 10px;
  }

  main {
    max-width: 768px;
    padding: 0 15px;
  }
}
