:root {
  /* background color */
  --light-gray: #f5f5f5;
  --normal-gray: #fefefe;
  --dark-gray: #616161;

  /* signature color */
  --primary: #24388d;
  --secondary: #c8cde2;
}

body {
  margin: 0;
  min-width: 360px;
}

/* header */
.header {
  border-bottom: 1px solid var(--light-gray);
}

.header__logo__wrapper {
  padding: 18px 0;
  box-sizing: border-box;

  display: flow-root;

  @media (min-width: 1400px) {
    width: 1400px;
    margin: 0 auto;
  }

  .header__logo {
    float: left;
  }

  .header__nav {
    float: right;
  }
}

/* main */
.content {
  font-size: 0;

  @media (min-width: 1400px) {
    width: 1400px;
    margin: 0 auto;
  }

  .content__item {
    background-color: var(--light-gray);
    margin: 20px 0;
    padding: 20px 22px 44px;

    @media (min-width: 1400px) {
      display: inline-block;
      width: 680px;

      &:nth-child(2n + 1) {
        margin-right: 20px;
      }
    }
  }

  .content__wrapper {
    margin: 0 auto;

    display: block;
    width: 18.4375rem;

    img {
      display: block;
      margin: 0 auto;
      height: 18.3125rem;
    }
  }

  .content__caption {
    text-align: center;
    font-size: 16px;
  }
}
