@import url(/src/common/modern-reset.css);
@import url(/src/common/theme.css);
@import url(/src/common/a11y.css);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

/* 온/오프라인 아바타 컴포넌트 만들기 */

/* figure */
.img-avatar {
  /* 지역 변수 선언 */
  --size: 4rem;
  --state-default: #dbdbdb;
  --state-is-active: #4cfe88;

  width: var(--size);
  border-radius: 50%;
  border: 0;

  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: inherit;
  }

  .state {
    width: 25%;
    aspect-ratio: 1 / 1;

    border-radius: inherit;
    border: 2px solid #fff;

    /* 위치 조정 */
    position: absolute;
    right: 0;
    bottom: 0;

    background-color: var(--state-default);

    &.is-active {
      background-color: var(--state-is-active);
    }
  }
}

/* button */
.btn-avatar {
  background-color: pink;

  /* 지역 변수 선언 */
  --size: 4rem;
  --state-default: #dbdbdb;
  --state-is-active: #4cfe88;

  /* button 은 default 로 padding, border, bgc 값을 갖기 때문에, 해당 속성을 수정해준다. */
  padding: 0;
  border: 0; /* 0, none 값을 줘서 border 를 없앤다 */
  background-color: transparent; /* transparent, none 값을 줘서 bgc 를 없앤다 */

  width: var(--size);
  border-radius: 50%;

  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
  }

  &::after {
    content: '';
    /* 위치 조정 */
    position: absolute;
    right: 0;
    bottom: 0;

    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    border: 2px solid #fff;

    background-color: var(--state-default);
  }

  &.is-active::after {
    background-color: var(--state-is-active);
  }
}
