@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* Default 스타일 */
.button {
  --spacing: var(--spacing-2, 0.5rem);
  --text-size: var(--font-base, 1rem);
  --fill-color: var(--gray-600, #919191);
  --text-color: var(--white, #fff);

  /* 요소 안에 svg 같은 요소가 포함되어 있어서, 정렬이 필요한 경우에 유용하다. */
  display: inline-flex;
  border: 1px solid currentColor;
  padding: var(--spacing);
  background: var(--fill-color);
  color: var(--text-color);
  justify-content: center;
  align-items: center;

  /* 비활성화 스타일 */
  &:disabled {
    --disabled-color: var(--gray-300, #dadada);
    --text-color: var(--white, #fff);

    background: var(--disabled-color);
    color: var(--text-color);
    border-color: var(--disabled-color);

    /* '이 버튼은 사용하지 못한다'에 대한 의미 전달을 위한 추가 디자인 */
    cursor: not-allowed;
    opacity: 0.7;
  }
}

/* Fill 스타일 */
.button--fill {
  --fill-color: var(--green-500, #03cf5d);
  --text-color: var(--white, #fff);

  color: var(--text-color);
  border-color: var(--fill-color);
  background: var(--fill-color);
}

/* Outline 스타일 */
.button--outline {
  --outline-color: var(--green-500, #03cf5d);

  border: 1px solid currentColor;
  color: var(--outline-color);
  background: transparent;

  &:disabled {
    --disabled-color: var(--gray-300, #dadada);

    background: transparent;
    color: var(--disabled-color);
  }
}
